:root {
  font-family: sans-serif;
  text-transform: capitalize;

  /* COLORS */
  --bg-color-1: #001;
  --bg-color-2: #123;
  --text-color: #ffffff;
  --primary-color: #0481ff;
  --secondary-color: #ffffff55;
  --success-color: #008000;
  --warning-color: #ffd700;
  --danger-color: #a00;

  /* BORDERS */
  --border-radius-m: 8px;
  --border-radius-s: 6px;

  /* TRANSITIONS */
  --transition-duration: 0.3s;

  /* ========== [ COMPUTED ] ========== */
  /* FONT SIZES */
  --font-size-xl: clamp(30px, 4vw, 40px);
  --font-size-l: clamp(20px, 3vw, 30px);
  --font-size-m: clamp(14px, 1.8vw, 18px);

  /* DIMENSIONS */
  --padding-l: clamp(10px, 2vw, 20px);
  --padding-m: clamp(7px, 1vw, 10px);
  --padding-s: clamp(3px, 0.6vw, 6px);
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-1);
  font-size: var(--font-size-m);
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ======================== [ MAIN ] ======================== */
main {
  display: flex;
}

/* ==================== [ MENU SECTION ] ==================== */
.menu {
  background-color: var(--bg-color-2);
  position: sticky;
  top: 0;
  height: 100dvh;
  flex-basis: clamp(67px, 10vw, 100px);
  padding: var(--padding-l);
  overflow: hidden;
  overflow-y: auto;
  transition: flex-basis var(--transition-duration);
}

.menu > ul {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(8, min-content);
  gap: 10px;
}

.menu li > a {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-m);
  width: clamp(36px, 5.5vw, 55px);
  transition: width var(--transition-duration);
}

.menu li:not(.profile) > a {
  padding: var(--padding-m);
  column-gap: var(--font-size-xl);
}

.menu li:not(.profile) > a > p {
  flex-shrink: 0;
}

.menu .profile > a {
  margin-bottom: 10px;
  column-gap: var(--font-size-l);
}

.menu .profile .img-box {
  flex-shrink: 0;
  width: clamp(35px, 5vw, 50px);
  height: clamp(35px, 5vw, 50px);
  border: clamp(1px, 0.3vw, 3px) solid var(--text-color);
  border-radius: 50%;
  overflow: hidden;
}

.menu .profile .img-box > img {
  width: 100%;
}

.menu li:last-of-type {
  align-self: flex-end;
  margin-bottom: 10px;
}

.menu li:last-of-type > a {
  background-color: var(--danger-color);
}

.menu li > a.active {
  background-color: var(--secondary-color);
}

.menu li > a > i {
  font-size: var(--font-size-l);
}

/* =================== [ CONTENT SECTION ] =================== */
.content {
  flex-basis: 100%;
  margin: 10px;
}

.content .title-info {
  background-color: var(--primary-color);
  margin: 10px 0;
  padding: var(--padding-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-m);
}

.content .data-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.content .data-info .box {
  background-color: var(--bg-color-2);
  flex-basis: clamp(140px, 15vw, 150px);
  height: clamp(100px, 15vw, 150px);
  flex-grow: 1;
  border-radius: var(--border-radius-m);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content .data-info .box > i {
  font-size: var(--font-size-xl);
}

.content .data-info .box .data {
  text-align: center;
}

.content .data-info .box .data > span {
  font-size: var(--font-size-l);
}

.content > table {
  width: 100%;
  text-align: center;
  border-spacing: 8px;
}

.content > table th,
.content > table td {
  background-color: var(--bg-color-2);
  height: 40px;
  border-radius: var(--border-radius-m);
}

.content > table th {
  background-color: var(--primary-color);
}

.content > table .price,
.content > table .count {
  padding: var(--padding-s);
  border-radius: var(--border-radius-s);
}

.content > table .price {
  background-color: var(--success-color);
}

.content > table .count {
  background-color: var(--warning-color);
  color: #000000;
}

/* =================== [ MEDIA QUERIES ] =================== */
/* DEVICES THAT SUPPORT HOVER */
@media (hover: hover) {
  .menu:hover {
    flex-basis: clamp(350px, 40vw, 400px);
  }

  .menu:hover li > a {
    width: 100%;
  }

  .menu li > a:hover,
  .content .data-info .box:hover,
  .content > table td:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }
}

/* DEVICES THAT DON'T SUPPORT HOVER */
@media (hover: none) {
  .menu.active {
    flex-basis: clamp(350px, 40vw, 400px);
  }

  .menu.active li > a {
    width: 100%;
  }
}

/* BREAKPOINTS */
@media (max-width: 576px) {
  .menu {
    position: fixed;
    width: clamp(56px, 10vw, 100px);
    transition: width var(--transition-duration);
  }

  .content {
    margin-inline-start: calc(clamp(56px, 10vw, 100px) + 10px);
  }

  .content > table {
    border-spacing: 7px;
  }
}

@media (max-width: 576px) and (hover: hover) {
  .menu:hover {
    width: 220px;
  }
}

@media (max-width: 576px) and (hover: none) {
  .menu.active {
    width: 220px;
  }
}
